
<tr class="nested-fields">
  <td>
    <%= f.input :controller, as: :string, :label => false,
        input_html: {size: 50, :readonly => !current_user.role?(User::ROLES[:admin])} %>
  </td>
  <td>
    <%= f.input :action, as: :string, :label => false,
        input_html: {size: 50, :readonly => !current_user.role?(User::ROLES[:admin])} %>
  </td>
  <td>
    <%= f.input :http_method, as: :select, label: false,
          :collection => %w( GET POST PUT PATCH DELETE ),
          :input_html => {class: 'selectpicker-help-page-assignment-http-method',
            :disabled => !current_user.role?(User::ROLES[:admin]),
            :'data-live-search' => "true", :'data-size' => "3",
            :'data-width' => "72%"} %>
  </td>
  <td>
    <% if current_user.role?(User::ROLES[:admin]) %>
      <%= link_to_remove_association '', f,
          class: "btn btn-delete", title: t('helpers.links.remove_assignment') %>
    <% end %>
  </td>
</tr>