@import "variables.css.less";

.support-breadcrumb{
  background: #fff url(/assets/svg/pattern.svg) repeat;
  background-size: 7px 7px;
  padding: 5px 50px;
  border-bottom: solid 1px #eaeae9;
  margin: -26px -50px 26px;
  font-size: 14px;

  a{
    text-decoration: underline;
  }
}

.support-no-content{
  font-style: italic;
}

.support-summary{
  margin-bottom: 26px;
}

h2, h3, h4, h5, h6{
  font-family: 'nokiasans_s60', 'sans-serif';
  text-transform:uppercase;
  margin: 20px 0 10px;
}
h2{
  font-size: 24px;
}

h3{
  font-size: 16px;
}


.support-lists{
  list-style: none;
  margin: 0;
  padding: 0;

  li{
    margin-bottom: 20px;
  }
}

.support-box{
  width:100%;
  @media (min-width: 992px) {
    width:49%;
    &:nth-child(even)
    {
      padding-right:50px;
    }
  }
  display:inline-block;
  vertical-align:top;
}


.support-col-left{
  display:table-cell;
  vertical-align:top;
  background-color:#fff;
  padding:0px 30px 0px 0px;
  width: 100%;

  .support-page-content{
    a{
      text-decoration: underline;
    }
    img{
      &.gray-bar{
        max-height: 75px;
      }
      &.form-buttons{
        max-height: 54px;
      }
    }
  }
}
.support-col-right{
  min-width:300px;
  max-width:300px;
  display:table-header-group;
  vertical-align:top;
  background-color:#f6f7f7;

  ul{
    list-style: none;
    padding-left: 0;
    li{
      line-height: 32px;
      text-transform: capitalize;
    }
    & > li{
      font-size: 20px;
      & > ul{
        padding-left: 15px;
        li{
          font-size: 16px;
        }
      }
    }
  }
}
.doc-links { display:none; }
.in-this-guide {
  display: block;
  border-bottom: solid 1px #d6d6d6;
  &.no-content{
    display: none;
  }
}
.last-updated{
  margin-top: 20px;
  font-size: 14px;
}



@media (min-width: 992px) {
  .content-wrapper{
    position: relative;
  }
  .support-col-left{
    display:table-cell;
    vertical-align:top;
    border-right:1px solid #d6d6d6;
    padding: 30px;
    width: ~"calc(100vw - 300px - 150px - 100px)";
  }
  .support-col-right{
    min-width:300px;
    display:table-cell;
    vertical-align:top;
    padding: 30px;
    position: fixed;
    right:55px;
    top: 168px;
    bottom: 0;
    overflow-y: auto;

  }
  .doc-links { display:table-cell; }
}