<% title t '.title' %>


<div class="support-summary">
  <p><%= t('.intro') %></p>
</div>

<% if @root_sections.present? %>
  <ul class="support-lists support-subsections">
    <% @root_sections.each do |section| %>
      <li>
        <h3><%= link_to(section.title, support_section_path(section.permalink_with_ancestors)) %></h3>
        <p><%= section.summary %></p>
      </li>
    <% end %>
  </ul>
<% else %>

  <p class="support-no-content"><%= t('.no_sections') %></p>

<% end %>
